.postCard input, .createPost input{
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 20px;
  padding-left: 10px;
  background-color: rgba(149, 147, 147, 0.378);
  color: white;
}

label {
  font-size: 18px;
}

input[type="submit"] {
  cursor: pointer;
  align-self: center;
}

input[type="submit"]:hover {
  border-color: #646cff;
}

.postCardContainer {
  display: flex;
  align-items: center;
}

.createPost form {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.createPost .postCard {
  flex: 1;
  margin: 10px 25px;
  border-radius: 10px;
  background-color: rgba(87, 87, 87, 0.393);
}

.postCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 175px;
  width: 225px;
  background-color: gray;
}

.radioButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 16px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

